= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :publisher_id
    = f.collection_select(:publisher_id, Admin::Publisher.all, :id, :name)
  .field
    = f.label :authors
    = f.collection_select(:author_ids, Author.all, :id, :name)
  .field
    = f.label :published_at
    = f.date_select :published_at
  .field
    = f.label :isbn
    = f.text_field :isbn
  .field
    = f.label :blurb
    = f.text_field :blurb
  .field
    = f.label :page_count
    = f.number_field :page_count
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'