%table
  %thead
    %tr
      %th Title
      %th Publisher
      %th Authors
      %th Published at
      %th isbn
      %th Page count
      %th Price
      %th Image

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= Admin::Publisher.find(book.publisher_id).name
        - unless book.authors.blank?
          %td
            - book.authors.each do |a|
              = a.name
              %br
        - else
          %td Brak authora
        - unless book.published_at.blank?
          %td= book.published_at.strftime("%Y-%m-%d")
        - else
          %td Brak daty
        %td= book.isbn
        %td= book.page_count
        %td= book.price
        -unless(book.cover_image == nil) then
          %td= image_tag(book.cover_image)
        -else
          %td= "Brak obrazu"

        %td= link_to 'Show', admin_book_path(book)
        %td= link_to 'Edit', edit_admin_book_path(book)
        %td= link_to 'Destroy', admin_book_path(book), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_admin_book_path
