%table
  %thead
    %tr
      %th
        %a{href: "?sort_by=publisher_id"}
          Publisher
      %th
        %a{href: "?sort_by=title"}
          Title
      %th
        %a{href: "?sort_by=isbn"}
          ISBN


  %tbody

    - @books.each do |book|
      %tr
        %td= Admin::Publisher.find(book.publisher_id).name
        %td= book.title
        %td= book.isbn
        %td= link_to 'Show', admin_book_path(book)
        %td= link_to 'Edit', edit_admin_book_path(book)
        %td= link_to 'Destroy', admin_book_path(book), :method => :delete, :data => { :confirm => "Are you sure to delete #{book.title}?" }
%hr
= will_paginate @books
/= link_to 'Previous page', { page: @book_pages.current.previous } if @book_pages.current.previous
/= link_to 'Next page', { page: @book_pages.current.next } if @book_pages.current.next
%br
= link_to 'New Book', new_admin_book_path
