= form_for @admin_publisher do |f|
  - if @admin_publisher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_publisher.errors.count, "error")} prohibited this admin_publisher from being saved:"
      %ul
        - @admin_publisher.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
