%h1 Listing admin_products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @admin_products.each do |admin_product|
      %tr
        %td= admin_product.name
        %td= admin_product.description
        %td= link_to 'Show', admin_product
        %td= link_to 'Edit', edit_admin_product_path(admin_product)
        %td= link_to 'Destroy', admin_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_admin_product_path
