%p#notice= notice

%p
  %b Name:
  = @admin_product.name
%p
  %b Description:
  = @admin_product.description

= link_to 'Edit', edit_admin_product_path(@admin_product)
\|
= link_to 'Back', admin_products_path
